<row class="match-row" data-matchid="{{id}}" data-userid={{userid}}>
    <column class="match-column">
        <div class= "matchHeader">
            <h3><img src="../public/img/profileIcon.png">{{firstname}}</h3>
            <h3><img src="../public/img/ageicon.png">{{age}}</h3>
            <h3><img src="../public/img/locationicon.png">{{location}}</h3>
        </div>
        <row>
            <div class= "col-3">
                <div class="matchPicContainer">
                    <img class="matchPic" src="{{profilepic}}">
                </div>
            </div>
            <div class= "col-8">
                <div class="chatBody" data-userid={{userid}} id="chatbox-"+{{userid}}>
                    <h3>Bio:  </h3>
                        <p>Vegan fixie hella irony chillwave small batch chambray squid umami. Drinking vinegar scenester lo-fi thundercats, crucifix whatever XOXO etsy jianbing. Portland biodiesel DIY, blog dreamcatcher disrupt drinking vinegar cold-pressed brooklyn shabby chic. 3 wolf moon kogi gentrify, live-edge plaid single-origin coffee tumeric vape. Church-key viral franzen VHS, four dollar toast lomo semiotics. Lyft banh mi plaid, brunch next level enamel pin air plant. Forage gastropub deep v wolf post-ironic coloring book waistcoat taxidermy raw denim.</p>
                    </div>
                </div>
            </div>
        </row>
    </column>
</row>
                                  